{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "import",
        "format": ["camelCase", "PascalCase"]
      }
    ],
    "@typescript-eslint/semi": "error",
    "curly": "error",
    "eqeqeq": "error",
    "no-throw-literal": "error",
    "no-unused-vars": "error"
  },
  "ignorePatterns": ["node_modules", "**/*.d.ts", "out", "dist"]
}
