* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
h3 {
  margin-bottom: 5px;
}

ul {
  padding-left: 14px;
}
ol {
  margin-left: 15px;
}

/* ---------- Custom Tags ---------- */
/* Summary */
#project-avatar {
  width: 48px;
  height: 48px;
}
.header-info {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}

/* Profiles */
#profiles {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.user-avatar {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

/* Dates */
#issue-dates {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Details */
#issue-details-table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-collapse: separate;
  border-spacing: 5px 0px;
}
#issue-details-table tr {
  vertical-align: top;
  text-align: left;
}
#type-icon,
#status-icon,
#priority-icon {
  width: 12px;
  height: 12px;
}

/* Description */
#issue-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Attachments */
#attachments {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Issue Links */
#issue-links-table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-collapse: separate;
  border-spacing: 5px 5px;
}
.issue-link-details {
  padding-left: 18px;
}

/* Comments */
#comments-table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-collapse: separate;
  border-spacing: 5px 5px;
}
#comments-table tr {
  vertical-align: top;
  text-align: left;
}
